:root {
  --default-background: #0a1614;
  --header-height: 119px;
}

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@font-face {
  font-family: 'Gotham Pro';
  src: url('src/assets/fonts/GothamPro-Bold.eot');
  src:
    local('Gotham Pro Bold'),
    local('GothamPro-Bold'),
    url('src/assets/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamPro-Bold.woff2') format('woff2'),
    url('src/assets/fonts/GothamPro-Bold.woff') format('woff'),
    url('src/assets/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('src/assets/fonts/GothamPro-Light.eot');
  src:
    local('Gotham Pro Light'),
    local('GothamPro-Light'),
    url('src/assets/fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamPro-Light.woff2') format('woff2'),
    url('src/assets/fonts/GothamPro-Light.woff') format('woff'),
    url('src/assets/fonts/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('src/assets/fonts/GothamPro-Black.eot');
  src:
    local('Gotham Pro Black'),
    local('GothamPro-Black'),
    url('src/assets/fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamPro-Black.woff2') format('woff2'),
    url('src/assets/fonts/GothamPro-Black.woff') format('woff'),
    url('src/assets/fonts/GothamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('src/assets/fonts/GothamPro-Italic.eot');
  src:
    local('Gotham Pro Italic'),
    local('GothamPro-Italic'),
    url('src/assets/fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamPro-Italic.woff2') format('woff2'),
    url('src/assets/fonts/GothamPro-Italic.woff') format('woff'),
    url('src/assets/fonts/GothamPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url('src/assets/fonts/GothamProNarrow-Bold.eot');
  src:
    local('Gotham Pro Narrow Bold'),
    local('GothamProNarrow-Bold'),
    url('src/assets/fonts/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamProNarrow-Bold.woff2') format('woff2'),
    url('src/assets/fonts/GothamProNarrow-Bold.woff') format('woff'),
    url('src/assets/fonts/GothamProNarrow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('src/assets/fonts/GothamPro-Medium.eot');
  src:
    local('Gotham Pro Medium'),
    local('GothamPro-Medium'),
    url('src/assets/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamPro-Medium.woff2') format('woff2'),
    url('src/assets/fonts/GothamPro-Medium.woff') format('woff'),
    url('src/assets/fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('src/assets/fonts/GothamPro-BoldItalic.eot');
  src:
    local('Gotham Pro Bold Italic'),
    local('GothamPro-BoldItalic'),
    url('src/assets/fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamPro-BoldItalic.woff2') format('woff2'),
    url('src/assets/fonts/GothamPro-BoldItalic.woff') format('woff'),
    url('src/assets/fonts/GothamPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('src/assets/fonts/GothamPro.eot');
  src:
    local('Gotham Pro'),
    local('GothamPro'),
    url('src/assets/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamPro.woff2') format('woff2'),
    url('src/assets/fonts/GothamPro.woff') format('woff'),
    url('src/assets/fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('src/assets/fonts/GothamPro-MediumItalic.eot');
  src:
    local('Gotham Pro Medium Italic'),
    local('GothamPro-MediumItalic'),
    url('src/assets/fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamPro-MediumItalic.woff2') format('woff2'),
    url('src/assets/fonts/GothamPro-MediumItalic.woff') format('woff'),
    url('src/assets/fonts/GothamPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('src/assets/fonts/GothamPro-BlackItalic.eot');
  src:
    local('Gotham Pro Black Italic'),
    local('GothamPro-BlackItalic'),
    url('src/assets/fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamPro-BlackItalic.woff2') format('woff2'),
    url('src/assets/fonts/GothamPro-BlackItalic.woff') format('woff'),
    url('src/assets/fonts/GothamPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url('src/assets/fonts/GothamProNarrow-Medium.eot');
  src:
    local('Gotham Pro Narrow Medium'),
    local('GothamProNarrow-Medium'),
    url('src/assets/fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamProNarrow-Medium.woff2') format('woff2'),
    url('src/assets/fonts/GothamProNarrow-Medium.woff') format('woff'),
    url('src/assets/fonts/GothamProNarrow-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('src/assets/fonts/GothamPro-LightItalic.eot');
  src:
    local('Gotham Pro Light Italic'),
    local('GothamPro-LightItalic'),
    url('src/assets/fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/GothamPro-LightItalic.woff2') format('woff2'),
    url('src/assets/fonts/GothamPro-LightItalic.woff') format('woff'),
    url('src/assets/fonts/GothamPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}



body {
  background: var(--default-background);
  font-family:
    'Gotham Pro',
    -apple-system,
    sans-serif;
  font-size: 14px;
  color: #000000;
  font-style: normal;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin-bottom: 0;
  padding-left: 20px;
}

.app-store {
  width: 150px;
}

.header-title {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #ffffff;
}

.text-p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 15px;
  padding: 0 20px 0 20px;
  color: rgba(255, 255, 255, 0.64);

  &:last-child {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .app-store {
    width: 135px;
  }
}
